*{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

body{
    color: white;
    margin: 0px auto;
    background-color: black;
}

h2{
    padding: 20px;
    text-align: center;
    border: 2px solid grey;
    margin: 20px;
    border-radius: 10px;
    line-height: 30px;
}

a{
    padding: 40px;
    font-size: 120%;
    color: white;
    text-decoration: none;
}

p{
    text-align: center;
    margin: 40px;
    border-radius: 10px;
    line-height: 30px;
}

.navA{
    margin: 40px;
    padding: 40px;
}

ul{
    margin: 0px auto;
    padding: 0px;
}

li{
    list-style: none;
    display: inline-block;
}

.webtext{
    padding: 20px;
    border: 2px solid grey
}
